certifi
chardet
click
dnspython
Flask
flask-gzip
flask-cors
Flask-PyMongo
gunicorn
idna
Jinja2
MarkupSafe
pymongo
python-dotenv
feedparser
requests
urllib3
Werkzeug
numpy
DateTime
tweepy
APScheduler
scikit-learn
stanza
