<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trabajo Fin de Grado">
    <meta name="author" content="Garazi Gartzia Gartzia">

    <title>Scheduler</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/vendor/bootstrap-switch.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/vendor/jquery.dataTables.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/vendor/select2.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/vendor/select2-bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">

    <script>
        var DEFAULT_CACHE_BUSTER = (new Date()).getTime();
        // DEFAULT_CACHE_BUSTER will be replaced with a release token by the
        // build script. cacheBuster is used by requirejs.
        cacheBuster = DEFAULT_CACHE_BUSTER;
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
            <i class="icon-bar"></i>
          </button>
          <span class="navbar-brand">TFG: Garazi Gartzia Gartzia</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="jobs-tab"><a href="#jobs">Ejecuciones programadas</a></li>
            <li id="executions-tab"><a href="#executions">Histórico</a></li>
            <li id="logs-tab"><a href="#logs">Auditoría</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs <i class="caret"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/Nextdoor/ndscheduler" target="_blank">Código fuente</a></li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
    </div> <!-- End of navbar -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div id="jobs-page-sidebar" style="display:none">
                    <div class="panel panel-default">
                        <div class="panel-heading">Estadísticas</div>
                        <div class="panel-body" id="jobs-stats">
                            <small>
                            Total: <span id="jobs-total-count">-</span><br>
                            <span class="success-color">Activo: <span id="jobs-active-count">-</span> </span><br>
                            <span class="failed-color">Inactivo: <span id="jobs-inactive-count">-</span> </span>
                            </small>
                        </div>
                    </div>
                </div> <!-- jobs-page-sidebar -->

                <div id="executions-page-sidebar" style="display:none">
                    <div class="form-group">
                        <select class="form-control" id="filter-time-range">
                            <option value="600">10 minutos</option>
                            <option value="3600">1 hora</option>
                            <option value="43200">12 horas</option>
                            <option value="86400">24 horas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class=" form-control btn btn-primary" id="filter-button">Refrescar</button>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Estadísticas</div>
                        <div class="panel-body">
                            <small>
                            Total: <span id="executions-total-count">-</span><br>
                            <span class="scheduled-color">Programado: <span id="executions-scheduled-count">-</span></span><br>
                            <span class="running-color">En ejecución: <span id="executions-running-count">-</span></span><br>
                            <span class="success-color">Finalizado: <span id="executions-success-count">-</span></span><br>
                            <span class="scheduled-error-color">Error en programación: <span id="executions-scheduled-error-count">-</span></span><br>
                            <span class="failed-color">Fallido: <span id="executions-failed-count">-</span></span>
                            </small>
                        </div>
                    </div>
                </div> <!-- executions-page-sidebar -->

                <div id="logs-page-sidebar" style="display:none">
                    <div class="form-group">
                        <select class="form-control" id="logs-filter-time-range">
                            <option value="600">10 minutos</option>
                            <option value="3600">1 hora</option>
                            <option value="43200">12 horas</option>
                            <option value="86400">24 horas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class=" form-control btn btn-primary" id="logs-filter-button">Refresh</button>
                    </div>
                </div> <!-- logs-page-sidebar -->
            </div>


            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div id="jobs-page-content" style="display:none">
                    <h2 class="sub-header">Jobs</h2>
                    <div class="table-responsive">
                        <table class="table table-striped display" id="jobs-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Programado (UTC)</th>
                                    <th>Próxima ejecución</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="jobs-table-body">
                            </tbody>
                        </table>
                    </div>
                    <div id="jobs-spinner"></div>
                </div> <!-- jobs-page-content -->

                <div id="executions-page-content"  style="display:none">
                    <h2 class="sub-header">Histórico</h2>
                    <div class="table-responsive">
                        <table class="table table-striped" id="executions-table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Programado a las (local)</th>
                                <th>Última actualización (local)</th>
                                <th>Descripción</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="executions-table-body">
                            </tbody>
                        </table>
                        <div id="executions-spinner">
                        </div>
                    </div>
                </div> <!-- executions-page-content -->

                <div id="logs-page-content" style="display:none">
                    <h2 class="sub-header">Auditoría</h2>
                    <div class="table-responsive">
                        <table class="table table-striped" id="logs-table">
                            <thead>
                            <tr>
                                <th>Job Name</th>
                                <th>Event</th>
                                <th>User</th>
                                <th>Time (local)</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody id="logs-table-body">
                            </tbody>
                        </table>
                        <div id="logs-spinner">
                        </div>
                    </div>
                </div> <!-- logs-page-content -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/vendor/require.js') }}"></script>
</body>

</html>